xgboost
shap
scikit-learn
matplotlib # Used to generate and save SHAP plot
transformers>=4.44,<5
torch
fastapi
uvicorn
pytorch-forecasting
pyarrow #required for pandas to open data
pandas
lightning
numpy
xgboost
shap
scikit-learn